<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>金水丽苑社区居委</title>
    <link rel="stylesheet" href="./styles/index2.min.css">
    <link rel="stylesheet" href="./styles/animate.min.css">
    <script src="./scripts/vue.js"></script>
    <script src="./scripts/echarts.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="mask_layer2">
            <div class="pop_layer">
                <div class="title_box">
                    <span class="name">金水丽苑社区居委</span>
                    <div class="close_btn">
                        <img src="./images/img_01/close_icon.png" alt="">
                    </div>
                </div>
                <div class="content_box">
                    <div class="c_top">
                        <div class="top_left"></div>
                        <div class="top_right">
                            <div class="r_list" v-for="(item,index) of listData" :key="index">
                                <div class="list_tit">
                                    <img src="./images/img_02/dot1.png" alt="">
                                    <span class="tit_left">{{item.title}}</span>
                                    <span class="tit_right">{{item.num}}</span>
                                </div>
                                <div class="list_c" v-for="(key,val) in listData[index].list">
                                    <img src="./images/img_02/dot2.png" alt="">
                                    <span class="l_left">{{val}}</span>
                                    <span class="l_right">{{key}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c_bot">
                        <div class="bot_left">
                            <div class="left_top">
                                年龄分布
                                <img src="./images/img_02/bot_bg.png" alt="">
                            </div>
                            <div class="left_bot">
                                <div id="main1"></div>
                            </div>
                        </div>
                        <div class="bot_right">
                            <div class="right_top">
                                学历分布
                                <img src="./images/img_02/bot_bg.png" alt="">
                            </div>
                            <div class="right_bot">
                                <div id="main2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                listData: [{
                        title: '关爱人口',
                        num: 9999,
                        list: {
                            '年龄1': 99,
                            '年龄2': 99,
                            '帮扶3': 99,
                            '年龄4': 99,
                            '年龄5': 99,
                            '年龄7': 99,
                        }

                    },
                    {
                        title: '重点人口',
                        num: 9999,
                        list: {
                            '年龄1': 99,
                            '年龄2': 99,
                            '帮扶': 99,
                            '年龄3': 99,
                            '重点青少年': 991,
                        }

                    },
                ],
                yAxisData: ["18岁以下", "19-60", "61-70", "71-80", "81-90", "91-100", "100以上"],
                data01: [-10, -20, -30, -10, -4, -22, -52], //男
                data02: [100, 21, 31, 20, 12, 13, 32] // 女
            },
            methods: {
                setHistogram1() {
                    var _this = this
                    //人口金字塔
                    var myChart1 = echarts.init(document.getElementById('main1'))
                    // 指定图表的配置项和数据
                    var option1 = {
                        legend: {
                            data: ["男", "女"],
                            textStyle: {
                                color: "#fff"
                            },
                            right: 20,
                            top: 20,
                            width: 50,
                            height: 20,
                            itemWidth: 30,
                            itemHeight: 4,
                            fontSize: 16
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow' // 默认为直线，可选为：'line' | 
                            },
                            formatter: function (data) {
                                let ttt = data[0].name;
                                for (let i = 0; i < data.length; i++) {
                                    ttt += '<br/>' + data[i].seriesName + '：' +
                                        (Math.abs(data[i].value)) + '人';
                                }
                                return ttt;
                            }
                        },
                        grid: {
                            /*   show : true,*/
                            // containLabel: true
                        },
                        xAxis: {
                            type: 'value',
                            axisLabel: {
                                formatter: function (a) {
                                    return Math.abs(a);
                                },
                                rotate: 45
                            },
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#555555', //x轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                rotate: 45,
                                fontSize: 16
                            },
                            splitLine: {
                                show: false //刻度线
                            },
                            minInterval: 50, //每段距离
                        },
                        yAxis: [{

                            type: 'category',
                            nameLocation: "middle",
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#555555', //y轴颜色
                                }
                            },
                            data: _this.yAxisData,
                            axisLabel: {
                                color: '#fff',
                                fontSize: 16
                            },
                        }],
                        series: [{
                            name: '男',
                            type: 'bar',
                            stack: '年龄',
                            barWidth: 20,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'right'
                                }
                            },
                            data: _this.data01,
                            itemStyle: {
                                normal: {
                                    color: "#73F9F5"
                                }
                            }
                        }, {
                            name: "女",
                            stack: "年龄",
                            type: "bar",
                            label: {
                                normal: {
                                    show: false,
                                    position: "left"
                                }
                            },
                            data: _this.data02,
                            itemStyle: {
                                normal: {
                                    color: "#E77937"
                                }
                            }
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart1.setOption(option1)
                },
                setHistogram2() {
                    var _this = this
                    //学历分布

                    var myChart2 = echarts.init(document.getElementById('main2'))
                    var option2 = {
                        color: ['#73F9F5'],
                        legend: {
                            textStyle: {
                                color: "#fff"
                            },
                            right: 20,
                            top: 20,
                            width: 50,
                            height: 20,
                            itemWidth: 30,
                            itemHeight: 4,
                            fontSize: 16
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                            },
                            formatter: function (data) {
                                let ttt = data[0].name;
                                for (let i = 0; i < data.length; i++) {
                                    ttt += '<br/>' + data[i].seriesName + '：' + data[i].value
                                }
                                return ttt;
                            }
                        },
                        grid: {
                            // left: '3%',
                            // right: '4%',
                            // bottom: '3%',
                            // containLabel: true
                        },
                        xAxis: [{
                            type: 'category',
                            data: ['其他', '小学', '初中', '高中', '专科', '本科', '硕士', '博士'],
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#555555', //x轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 16
                            },
                            splitLine: {
                                show: false //刻度线
                            },
                        }],
                        yAxis: [{
                            type: 'value',
                            nameLocation: "middle",
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#555555', //y轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 16
                            },
                            splitLine: {
                                show: true, //刻度线
                                lineStyle: {
                                    color: '#555555'
                                }
                            },
                        }],
                        series: [{
                            name: '数量',
                            type: 'bar',
                            barWidth: 30,
                            data: [10, 52, 200, 334, 390, 330, 220, 100]
                        }]
                    }
                    myChart2.setOption(option2)
                }
            },
            mounted() {
                this.setHistogram1()
                this.setHistogram2()
            },
        })
    </script>
</body>

</html>