<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/element-ui.css">
    <title>事件开窗</title>
</head>

<body>

    <div id="app">
        <div class="incident_layer">
            <div class="inc_tit">{{name}}</div>
            <div class="int_table">
                <div class="int_table_th">
                    <div class="int_table_th_td"></div>
                    <div class="int_table_th_td">上报</div>
                    <div class="int_table_th_td">受理</div>
                    <div class="int_table_th_td">派单</div>
                    <div class="int_table_th_td">立案</div>
                    <div class="int_table_th_td">结案</div>
                    <div class="int_table_th_td">结案率</div>
                </div>
                <div class="int_table_tb">
                    <div class="int_table_tb_tr">
                        <div class="int_table_tb_tr_tt">今日</div>
                        <div class="int_table_tb_tr_td" v-for="(item,index) of dataR" :key="index" @click="index != 5 && popup(index+1)">
                            {{index == 5 ? item *100+ '%' : item }}
                        </div>
                    </div>
                    <div class="int_table_tb_tr">
                        <div class="int_table_tb_tr_tt">本月</div>
                        <div class="int_table_tb_tr_td" v-for="(item,index) of dataB" :key="index" @click="index != 5 && popup(index+6)">
                            {{index == 5 ? item*100+ '%' : item }}
                        </div>
                    </div>
                    <div class="int_table_tb_tr">
                        <div class="int_table_tb_tr_tt">本年</div>
                        <div class="int_table_tb_tr_td" v-for="(item,index) of dataN" :key="index" @click="index != 5 && popup(index+11)">
                            {{index == 5 ? item*100+ '%' : item }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="int_charts">
                <div class="chart">
                    <div class="chart_top">
                        案件类型
                    </div>
                    <div class="chart_bot">
                        <div id="main1"></div>
                    </div>
                </div>
                <div class="chart">
                    <div class="chart_top">
                        案件来源
                    </div>
                    <div class="chart_bot">
                        <div id="main3"></div>
                    </div>
                </div>
                <div class="chart">
                    <div class="chart_top">
                        事件趋势
                    </div>
                    <div class="chart_bot">
                        <div id="main2"></div>
                    </div>
                </div>
            </div>
            <div class="inc_pop" v-show="popShow">
                <div class="pop_tit">事件详情
                    <div class="pop_close">
                        <img src="./img/close.png" alt="" @click="closePop">
                    </div>
                </div>
                <div class="pop_list">
                    <div class="list_h">
                        <div class="name">任务编号</div>
                        <div class="name">主责部门</div>
                        <div class="name">案件地址</div>
                        <div class="name">来源</div>
                        <div class="name">问题描述</div>
                        <div class="name">发现时间</div>
                    </div>
                    <div class="list_b">
                        <div class="list_line" 
                            v-for="item of taskinfoModelList"
                            :key="item.id"
                            @click="listClickChange(item.taskid)"
                        >
                            <div class="value"> 
                                {{item.taskid}}
                            </div>
                            <div class="value">{{item.executedeptname}}</div>
                            <div class="value">
                                <!-- <el-popover
                                    popper-class="my_popover"
                                    placement="top-start"
                                    width="500"
                                    trigger="hover"
                                    :content="item.address">
                                    <div  class="ce_p3_c1" slot="reference"> 
                                        {{item.address}}</div>
                                </el-popover> -->
                                <el-tooltip :content="item.address" placement="top">
                                    <div  class="ce_p3_c1"> 
                                        {{item.address}}</div>
                                </el-tooltip>
                            </div>
                            <div class="value">{{item.infosourcename}}</div>
                            <div class="value">
                                <!-- <el-popover
                                    popper-class="my_popover"
                                    placement="top-start"
                                    width="500"
                                    trigger="hover"
                                    :content="item.description">
                                    <div  class="ce_p3_c1" slot="reference"> 
                                        {{item.description}}</div>
                                </el-popover> -->

                                <el-tooltip :content="item.description" placement="top">
                                    <div  class="ce_p3_c1"> 
                                        {{item.description}}</div>
                                </el-tooltip>
                            </div>
                            <div class="value">{{(item.discovertime).substr(0,19)}}</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="mask_layer1" v-show="isShowTip">
                <div class="pop_layer">
                    <div class="con_box">
                        <div class="ce_top">
                            城市事件
                            <div class="pop_close">
                                <img src="./img/close.png" alt="" @click="closeSecPop">
                            </div>
                        </div>
                       
                        <div class="ce_center">
                            <div class="ce_center_top">
                                <div class="ce_center_top_box">
                                    <div class="ce_p1">
                                        <div class="ce_p1_l">
                                            <img src="./images/img_03/t1.png" alt="">
                                        </div>
                                        <div class="ce_p1_r">{{tTaskinfo.taskid}}</div>
                                    </div>
            
                                    <div class="ce_p1">
                                        <div class="ce_p1_l">
                                            <img src="./images/img_03/t2.png" alt="">
                                        </div>
                                        <div class="ce_p1_r">{{tTaskinfo.infotypename}}</div>
                                    </div>
            
                                    <div class="ce_p1">
                                        <div class="ce_p1_l">
                                            <img src="./images/img_03/t3.png" alt="">
                                        </div>
                                        <div class="ce_p1_r">{{tTaskinfo.executedeptname}}</div>
                                    </div>
            
                                    <div class="ce_p1">
                                        <div class="ce_p1_l">
                                            <img src="./images/img_03/t4.png" alt="">
                                        </div>
                                        <div class="ce_p1_r">{{tTaskinfo.infosourcename}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ce_center_con">
                                <div class="ce_con_p1">
                                    <div class="ce_p1_l">
                                        <div>分</div>
                                        <div>类</div>
                                    </div> 
                                    <div class="ce_p1_c">{{tTaskinfo.sort}}</div>     
                                    <div class="ce_p1_r">
                                        <div class="p1r_l">
                                            <img src="./images/img_03/t5.png" alt="">
                                        </div>
                                        <div class="p1r_r">
                                            {{tTaskinfo.statusname}}
                                        </div>
                                    </div>  
                                </div>
    
                                <div class="ce_con_p2">
                                    <div class="ce_p2_l">
                                        主责部门
                                    </div> 
                                    <div class="ce_p2_c">{{tTaskinfo.executedeptname}}</div>     
                                </div>
    
                                <div class="ce_con_p2">
                                    <div class="ce_p2_l">
                                        <div>地</div>
                                        <div>址</div>
                                    </div> 
                                    <div class="ce_p2_c">{{tTaskinfo.address}}</div>     
                                </div>
    
                                <div class="ce_con_p3">
                                    <div class="ce_p3_l">
                                        问题描述
                                    </div> 
                                    <div class="ce_p3_c"><el-popover
                                        placement="top-start"
                                        width="500"
                                        trigger="hover"
                                        :content="tTaskinfo.description">
                                        <div  class="ce_p3_c1" slot="reference">{{tTaskinfo.description}}</div>
                                    </el-popover></div>
                                        
                                </div>
                                <div class="ce_con_p3">
                                    <div class="ce_p3_l">
                                        派遣备注
                                    </div> 
                                    <div class="ce_p3_c"><el-popover
                                        placement="top-start"
                                        width="500"
                                        trigger="hover"
                                        :content="tTaskinfo.dispatchnote">
                                        <div  class="ce_p3_c1" slot="reference">{{tTaskinfo.dispatchnote}}</div>
                                    </el-popover></div>
                                </div>
                            </div>
    
                        </div>
                        <div class="ce_bottom">
                            <div class="cb_l">
                                <img src="./images/img_03/t6.png" alt="">
                            </div>
                            <div  class="cb_r">
                                <div class="cr_c" style="width:60%">
                                    <div class="cbc_p1">
                                        <div class="cbc_p1_l">
                                            <div>发</div>
                                            <div>现</div>
                                        </div>
                                        <div class="cbc_p1_r">
                                           {{tTaskinfo.discovertime}}
                                        </div>
                                    </div>
                                    <div class="cbc_p1" style="margin-top:15px;">
                                        <div class="cbc_p1_l">
                                            整体截止
                                        </div>
                                        <div class="cbc_p1_r">
                                            {{tTaskinfo.allendtime}}
                                        </div>
                                    </div>
    
                                </div>
                                
                                <div class="cr_c" style="width:40%">
                                    <div class="cbc_p1">
                                        <div class="cbc_p1_l">
                                           最后处理
                                        </div>
                                        <div class="cbc_p1_r">
                                            {{tTaskinfo.lastsolvingtime}}
                                        </div>
                                    </div>
                                    <div class="cbc_p1" style="margin-top:15px;">
                                        <div class="cbc_p1_l">
                                          <div>结</div>
                                          <div>案</div>
                                        </div>
                                        <div class="cbc_p1_r">
                                            {{tTaskinfo.endtime}}
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
                        <div class="ce_imgBox">
                            <div class="imgCon" v-for="(item,index) in imgList" :key="index">
                                <img :src="item" alt="">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/element-ui.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                host: "http://192.168.0.202:8080",
                address: "/shjh/api/map/getCityCaseSummary.shtml?orgId=6",
                name: '',
                dataR: [],
                dataB: [],
                dataN: [],
                dataSJTJ:[],
                dataY:[],
                dataYJA:[],
                dataYSJ:[],
                orgId:'',
                popShow:false,
                isShowTip:false,
                taskinfoModelList:[],
                 taskId:'',
                 tTaskinfo:{},
                 imgList:[],
                 infosourcenameArr:[],
                 sumCountsArr:[]
            },
            created(){
                var request = new Object();
                request = this.GetRequest();
                this.orgId = request['orgId']
            },
            methods: {
                listClickChange(id){
                    this.taskId = id
                    this.getPageInfo()
                    this.isShowTip = true
                },

                closeSecPop(){
                    this.isShowTip = false
                    this.tTaskinfo ={}
                    this.imgList = []
                },

                getPageInfo(){
                    //http://localhost:8080/shjh/api/map/getCityEvents.shtml?taskId=1906H7638769
                    var that = this
                    axios.get('http://192.168.0.240:8080/shjh/api/map/getCityEvents.shtml',{       // 还可以直接把参数拼接在url后边
                        params:{
                            taskId:that.taskId
                        }
                    }).then(function(res){
                       console.log(res)
                       that.tTaskinfo = res.data.data.tTaskinfo
                       that.imgList = res.data.data.imgName

                       console.log(that.tTaskinfo)

                    }).catch(function (error) {
                      console.log(error)
                    });
                }, 
                popup(i){
                    console.log(i)
                    this.popShow = true
                    this.getPopData(i)
                },
                closePop(){
                    this.popShow = false
                    this.taskinfoModelList = []
                },
                GetRequest() {  
                    var url = location.search; //获取url中"?"符后的字串  
                    var theRequest = new Object();  
                    if (url.indexOf("?") != -1) {  
                        var str = url.substr(1);  
                        var strs = str.split("&");  
                        for (var i = 0; i < strs.length; i++) {  
                            theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);  
                        }  
                    }  
                    return theRequest;  
                },
                getPopData(i){
                    var that = this
                    axios.get('http://192.168.0.240:8080/shjh/api/map/getCityCaseSummaryXQ.shtml',{       
                        params:{
                            orgId:that.orgId,
                            type: i
                        }
                    }).then(function(res){
                       console.log(res.data.data)
                       that.taskinfoModelList = res.data.data.taskinfoModelList
                    }).catch(function (error) {
                      console.log(error)
                    });
                },
                getData() {
                    const url = this.host + this.address
                    axios.get(url).then((res) => {
                        console.log(res)
                        const data = res.data
                        if (data.code === '000000') {
                            const dataList = data.data
                            this.setData(dataList)
                        } else {
                            console.log(res.statusText)
                        }
                    }).catch((err) => {
                        console.log(err)
                    })
                },
                timeHandling(dataList){
                    var Y = dataList.dataY
                    var newY = []
                    var YJA = dataList.dataYJA
                    var YSJ = dataList.dataYSJ
                    var currentM = new Date().getMonth() + 1
                    Y.forEach((item)=>{
                        var dataM = item.substr(5)
                        dataM <= currentM && newY.push(item)
                    })
                    var length = newY.length
                    var newYJA = YJA.slice(0,length)
                    var newYSj = YSJ.slice(0,length)
                    return {
                        'dataY':newY,
                        'dataYJA':newYJA,
                        'dataYSJ':newYSj
                    }
                },
                setData(dataList) {
                    var _this = this
                    _this.name = dataList.name
                    _this.dataR = dataList.dataR
                    _this.dataB = dataList.dataB
                    _this.dataN = dataList.dataN
                    _this.dataSJTJ = dataList.dataSJTJ
                    _this.setHistogram1()
                    var zData = _this.timeHandling(dataList)
                    _this.dataY = zData.dataY
                    _this.dataYJA = zData.dataYJA
                    _this.dataYSJ = zData.dataYSJ
                    _this.setHistogram2()
                    dataList.taskinfoModelListSource.forEach((item)=>{
                        _this.infosourcenameArr.push(item.infosourcename)
                        _this.sumCountsArr.push(item.sumCounts)
                    })
                    _this.setHistogram3()
                },
                setHistogram1() {
                    var _this = this
                    var myChart1 = echarts.init(document.getElementById('main1'))
                    var option1 = {
                        color: ['#01FEF6'],
                        legend: {
                            textStyle: {
                                color: "#fff"
                            },
                            right: 10,
                            top: 10,
                            width: 50,
                            height: 20,
                            itemWidth: 16,
                            itemHeight: 4,
                            fontSize: 12
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                            },
                            formatter: function (data) {
                                let ttt = data[0].name;
                                for (let i = 0; i < data.length; i++) {
                                    ttt += '<br/>' + data[i].seriesName + '：' + data[i].value
                                }
                                return ttt;
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '5%',
                            bottom: 0,
                            containLabel: true
                        },
                        xAxis: [{
                            type: 'value',
                            nameLocation: "middle",
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#555555', //x轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 12
                            },
                            splitLine: {
                                show: true, //刻度线
                                lineStyle: {
                                    color: '#555555'
                                }
                            },
                        }],
                        yAxis: [{
                            type: 'category',
                            data: ['事件', '热线', '部件'],
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: '#555555', //y轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 12,
                            },
                            splitLine: {
                                show: false //刻度线
                            },
                        }],
                        series: [{
                            name: '数量',
                            type: 'bar',
                            barWidth: 30,
                            data: _this.dataSJTJ
                        }],
                        label: {
                            show: true,
                            position: 'top',
                            textStyle: { // 数值样式
                                fontSize: 12
                            }
                        }
                    }
                    myChart1.setOption(option1)
                },
                setHistogram3() {
                    var _this = this
                    var myChart3 = echarts.init(document.getElementById('main3'))
                    var option3 = {
                        color: ['#01FEF6'],
                        legend: {
                            textStyle: {
                                color: "#fff"
                            },
                            right: 10,
                            top: 10,
                            width: 50,
                            height: 20,
                            itemWidth: 16,
                            itemHeight: 4,
                            fontSize: 12
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                            },
                            formatter: function (data) {
                                let ttt = data[0].name;
                                for (let i = 0; i < data.length; i++) {
                                    ttt += '<br/>' + data[i].seriesName + '：' + data[i].value
                                }
                                return ttt;
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '5%',
                            bottom: 0,
                            containLabel: true
                        },
                        xAxis: [{
                            type: 'value',
                            nameLocation: "middle",
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#555555', //x轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 12
                            },
                            splitLine: {
                                show: true, //刻度线
                                lineStyle: {
                                    color: '#555555'
                                }
                            },
                        }],
                        yAxis: [{
                            type: 'category',
                            data: _this.infosourcenameArr,
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: '#555555', //y轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 12,
                            },
                            splitLine: {
                                show: false //刻度线
                            },
                        }],
                        series: [{
                            name: '数量',
                            type: 'bar',
                            barWidth: 30,
                            data: _this.sumCountsArr
                        }],
                        label: {
                            show: true,
                            position: 'top',
                            textStyle: { // 数值样式
                                fontSize: 12
                            }
                        }
                    }
                    myChart3.setOption(option3)
                },
                setHistogram2() {
                    var _this = this
                    var myChart2 = echarts.init(document.getElementById('main2'))
                    var option2 = {
                        color: ['#01FEF6', '#FCEB4F'],
                        legend: {
                            data: ['事件数量', '结案数量'],
                            textStyle: {
                                color: "#fff"
                            },
                            right: 10,
                            top: 10,
                            itemWidth: 16,
                            itemHeight: 5,
                            fontSize: 12
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                type: 'line' // 默认为直线，可选为：'line' | 'shadow'
                            },
                            formatter: function (data) {
                                let ttt = data[0].name;
                                for (let i = 0; i < data.length; i++) {
                                    ttt += '<br/>' + data[i].seriesName + '：' + data[i].value
                                }
                                return ttt;
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '3%',
                            bottom: 0,
                            containLabel: true
                        },
                        xAxis: [{
                            type: 'category',
                            data: _this.dataY,
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                lineStyle: {
                                    color: '#555555', //x轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 12,
                                rotate: 45
                            },
                            splitLine: {
                                show: false //刻度线
                            },
                        }],
                        yAxis: [{
                            type: 'value',
                            nameLocation: "middle",
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: '#555555', //y轴颜色
                                }
                            },
                            axisLabel: {
                                color: '#fff',
                                fontSize: 12
                            },
                            splitLine: {
                                show: true, //刻度线
                                lineStyle: {
                                    color: '#555555'
                                }
                            },
                        }],
                        series: [{
                                name: '事件数量',
                                type: 'line',
                                data: _this.dataYSJ,
                                itemStyle: {
                                    normal: {
                                        areaStyle: {
                                            type: 'default',
                                            //渐变色实现
                                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, //变化度
                                                //三种由深及浅的颜色
                                                [{
                                                    offset: 0,
                                                    color: '#01FEF6'
                                                }, {
                                                    offset: 1,
                                                    color: 'transparent'
                                                }]),
                                        },
                                    },
                                },
                                areaStyle: {},
                            },
                            {
                                name: '结案数量',
                                type: 'line',
                                barWidth: 30,
                                data: _this.dataYJA,
                                itemStyle: {
                                    normal: {
                                        areaStyle: {
                                            type: 'default',
                                            //渐变色实现
                                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, //变化度
                                                //三种由深及浅的颜色
                                                [{
                                                    offset: 0,
                                                    color: '#FCEB4F'
                                                }, {
                                                    offset: 1,
                                                    color: 'transparent'
                                                }]),
                                        },
                                    },
                                },
                                areaStyle: {},
                            }
                        ]
                    }
                    myChart2.setOption(option2)
                }
            },
            mounted() {
                this.getData()
            }
        })
    </script>
</body>

</html>