* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  overflow: hidden;
  font-family: PingFang SC;
}

.el-tooltip__popper.is-dark {
  background-color: #06162b !important;
  border: 0 !important;
  color: #fbeb4f !important;
  max-width: 500px;
}

.el-tooltip__popper.is-dark .popper__arrow {
  background-color: #06162b !important;
}

.el-tooltip__popper.is-dark .popper__arrow::after {
  background-color: #06162b !important;
}

.incident_layer {
  position: relative;
  width: 1000px;
  height: 600px;
  background-color: rgba(6, 22, 43, 0.7);
  padding: 20px 19px;
}

.incident_layer .inc_tit {
  height: 44px;
  background: url(../img/tit-bg.png) no-repeat;
  background-size: cover;
  padding-left: 28px;
  line-height: 44px;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #fff;
}

.incident_layer .int_table {
  background: url(../img/table-bg.png) no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.incident_layer .int_table .int_table_th {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #555555;
}

.incident_layer .int_table .int_table_th .int_table_th_td {
  flex: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #01FEF6;
}

.incident_layer .int_table .int_table_tb .int_table_tb_tr {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.incident_layer .int_table .int_table_tb .int_table_tb_tr .int_table_tb_tr_td {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-family: DIN Alternate;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #fbeb4f;
}

.incident_layer .int_table .int_table_tb .int_table_tb_tr .int_table_tb_tr_td:nth-of-type(7) {
  cursor: default;
  text-decoration: none;
}

.incident_layer .int_table .int_table_tb .int_table_tb_tr .int_table_tb_tr_tt {
  width: 137px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FCEB4F;
  text-align: center;
  line-height: 40px;
}

.incident_layer .int_charts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.incident_layer .int_charts .chart {
  width: 314px;
  height: 100%;
}

.incident_layer .int_charts .chart .chart_top {
  position: relative;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #fff;
  background: url(../img/chart-tit-bg.png) no-repeat;
  background-size: 100%;
  background-position: center center;
}

.incident_layer .int_charts .chart .chart_bot {
  margin-top: 10px;
  height: 290px;
  background: url(../img/chart-bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.incident_layer .int_charts .chart .chart_bot #main1,
.incident_layer .int_charts .chart .chart_bot #main2,
.incident_layer .int_charts .chart .chart_bot #main3 {
  height: 100%;
}

.incident_layer .inc_pop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-color: rgba(6, 22, 43, 0.7);
  padding: 10px;
}

.incident_layer .inc_pop .pop_tit {
  height: 36px;
  background: url(../img/pop-tit-bg.png) no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #fff;
  line-height: 40px;
  padding-left: 17px;
}

.incident_layer .inc_pop .pop_tit .pop_close {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.incident_layer .inc_pop .pop_list {
  height: 330px;
  margin-top: 15px;
  background: url(../img/pop-list-bg.png) no-repeat;
  background-size: cover;
}

.incident_layer .inc_pop .pop_list .list_h {
  display: flex;
  height: 30px;
  border-bottom: 1px solid #555555;
}

.incident_layer .inc_pop .pop_list .list_h .name {
  color: #FBEB4F;
  font-size: 13px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 30px;
  flex: 1.2;
  text-align: center;
  padding: 0 5px;
}

.incident_layer .inc_pop .pop_list .list_h .name:nth-of-type(1) {
  flex: 0.9;
}

.incident_layer .inc_pop .pop_list .list_h .name:nth-of-type(2) {
  flex: 0.7;
}

.incident_layer .inc_pop .pop_list .list_h .name:nth-of-type(3) {
  flex: 1.1;
}

.incident_layer .inc_pop .pop_list .list_h .name:nth-of-type(4) {
  flex: 0.7;
}

.incident_layer .inc_pop .pop_list .list_h .name:nth-of-type(5) {
  flex: 1.2;
}

.incident_layer .inc_pop .pop_list .list_b {
  overflow-y: scroll;
  height: 300px;
}

.incident_layer .inc_pop .pop_list .list_b::-webkit-scrollbar {
  display: none;
}

.incident_layer .inc_pop .pop_list .list_b .list_line {
  display: flex;
  height: 30px;
  border-bottom: 1px solid #555555;
  cursor: pointer;
}

.incident_layer .inc_pop .pop_list .list_b .list_line .value {
  flex: 1.2;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  text-align: center;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.incident_layer .inc_pop .pop_list .list_b .list_line .value .ce_p3_c1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.incident_layer .inc_pop .pop_list .list_b .list_line .value:nth-of-type(1) {
  flex: 0.9;
}

.incident_layer .inc_pop .pop_list .list_b .list_line .value:nth-of-type(2) {
  flex: 0.7;
}

.incident_layer .inc_pop .pop_list .list_b .list_line .value:nth-of-type(3) {
  flex: 1.1;
}

.incident_layer .inc_pop .pop_list .list_b .list_line .value:nth-of-type(4) {
  flex: 0.7;
}

.incident_layer .inc_pop .pop_list .list_b .list_line .value:nth-of-type(5) {
  flex: 1.2;
}
