* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

body {
    overflow: hidden;
}

.mask_layer2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: PingFang SC;

    .pop_layer {
        width: 1200px;
        height: 700px;
        background-color: rgba(6, 22, 43, .7);
        padding: 20px;

        .title_box {
            width: 1160px;
            height: 50px;
            line-height: 50px;
            padding-left: 27px;
            background: url(../images/img_01/title_bg.png) no-repeat;
            background-size: cover;

            .name {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .content_box {
            .c_top {
                height: 260px;
                overflow: hidden;

                &>div {
                    float: left;
                    height: 100%;
                }

                .top_left {
                    display: flex;
                    width: 680px;

                    .left-item1 {
                        width: 185px;
                        margin-right: 10px;

                        .item-tit {
                            height: 60px;
                            color: #01FEF6;
                            padding-top: 26px;
                            padding-left: 33px;
                            font-size: 20px;
                            background: url(../images/img_02/ren.png) no-repeat;
                            background-position: 0 26px;
                        }

                        .item-box {
                            height: 200px;
                            padding: 20px 15px;
                            background: url(../images/img_02/bg1.png) no-repeat;
                            background-size: cover;

                            .item-box-top {
                                position: relative;
                                height: 70px;
                                border-bottom: 2px solid #555555;

                                &>div {
                                    width: 50%;
                                    float: left;
                                    text-align: center;
                                }

                                .reg_num {
                                    font-size: 26px;
                                    color: #FCEB4F;
                                }

                                .reg_pop {
                                    font-size: 14px;
                                }

                                #pie1 {
                                    position: absolute;
                                    left: 62px;
                                    top: -23px;
                                    width: 100px;
                                    height: 100px;
                                }

                                .pre_box {
                                    position: absolute;
                                    right: 5px;
                                    top: 5px;
                                    text-align: center;

                                    .per_num {
                                        font-size: 15px;
                                    }

                                    .per_text {
                                        font-size: 11px;
                                    }
                                }
                            }

                            .item-box-bot {
                                font-size: 14px;
                                padding-top: 8px;

                                .list {
                                    line-height: 30px;

                                    span {
                                        float: right;
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }

                    .left-item2 {
                        width: 356px;
                        margin-right: 10px;

                        .item-tit {
                            height: 60px;
                            padding-left: 8px;
                            color: #01FEF6;
                            padding-top: 26px;
                            font-size: 24px;
                        }

                        .item-box {
                            height: 200px;
                            padding: 20px 15px;
                            background: url(../images/img_02/bg2.png) no-repeat;
                            background-size: cover;

                            .item-box-top {
                                position: relative;
                                display: flex;
                                height: 70px;
                                padding: 0 60px;
                                border-bottom: 2px solid #555555;

                                &>div {
                                    flex: 1;
                                    text-align: center;
                                }

                                .reg_num {
                                    font-size: 26px;
                                    color: #FCEB4F;
                                }

                                .reg_pop {
                                    font-size: 14px;
                                }

                                #pie2 {
                                    position: relative;
                                    top: -25px;
                                    left: 0;
                                    width: 100px;
                                    height: 100px;
                                }

                                .pre_box {
                                    position: absolute;
                                    right: 88px;
                                    top: 5px;
                                    text-align: center;

                                    .per_num {
                                        font-size: 15px;
                                    }

                                    .per_text {
                                        font-size: 11px;
                                    }
                                }
                            }

                            .item-box-bot {
                                display: flex;
                                font-size: 14px;
                                padding-top: 8px;

                                ul {
                                    flex: 1;
                                    margin-right: 12px;

                                    &:last-child {
                                        margin-right: 0;
                                    }

                                    .list {
                                        line-height: 30px;

                                        span {
                                            float: right;
                                            font-size: 16px;
                                        }

                                        &.yellow {
                                            color: #FCEB4F;
                                        }
                                    }
                                }

                            }
                        }
                    }

                    .left-item3 {
                        width: 120px;

                        .item-tit {
                            height: 60px;
                            color: #01FEF6;
                            padding-top: 26px;
                            font-size: 18px;
                            text-align: right;
                        }

                        .item-box {
                            height: 200px;
                            background: url(../images/img_02/bg3.png) no-repeat;
                            background-size: cover;
                            padding-top: 20px;
                            text-align: center;

                            .num {
                                font-size: 28px;
                                color: #FCEB4F;
                            }

                            .over_ren {
                                font-size: 16px;
                                margin-top: 5px;
                            }
                        }
                    }
                }

                .top_right {
                    display: flex;
                    float: right;
                    width: 450px;
                    padding-top: 30px;

                    .r_list {
                        flex: 1;
                        width: 217px;
                        padding-left: 45px;
                        padding-top: 20px;
                        padding-right: 20px;
                        padding-bottom: 15px;
                        overflow: hidden;
                        position: relative;
                        background: url(../images/img_02/dot_bg.png) no-repeat;
                        background-size: cover;

                        &:first-child {
                            margin-right: 15px;
                        }

                        .list_tit {
                            position: relative;
                            font-size: 18px;
                            color: #FBEB4F;
                            padding-bottom: 7px;
                            border-bottom: 2px solid #555;

                            &::after {
                                content: '';
                                display: block;
                                height: 0;
                                visibility: hidden;
                                clear: both;
                            }

                            .tit_right {
                                position: absolute;
                                right: 0;
                                top: -6px;
                                font-size: 26px;
                            }

                            img {
                                position: absolute;
                                left: -33px;
                                top: 4px;
                            }
                        }

                        .list_c {
                            font-size: 16px;
                            height: 33px;
                            line-height: 33px;
                            border-bottom: 2px solid #555;
                            position: relative;

                            .l_right {
                                position: absolute;
                                right: 0;
                                top: 0;
                                font-size: 22px;
                            }

                            img {
                                position: absolute;
                                left: -23px;
                                top: 8px;
                            }
                        }
                    }
                }
            }

            .c_bot {
                display: flex;
                margin-top: 15px;
                .bot_left {
                    flex: 1;
                    height: 100%;
                    margin-right: 15px;

                    .left_top {
                        position: relative;
                        height: 48px;
                        line-height: 48px;
                        font-size: 24px;
                        text-align: center;

                        img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: -1;
                        }
                    }

                    .left_bot {
                        position: relative;
                        height: 280px;
                        background: url(../images/img_02/zhu_bg.png) no-repeat;
                        background-size: cover;

                        #main1 {
                            width: 565px;
                            height: 300px;
                        }
                    }

                }

                .bot_right {
                    margin-left: 15px;
                    height: 100%;
                    flex: 1;

                    .right_top {
                        position: relative;
                        height: 48px;
                        line-height: 48px;
                        font-size: 24px;
                        text-align: center;

                        img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: -1;
                        }
                    }

                    .right_bot {
                        position: relative;
                        height: 280px;
                        background: url(../images/img_02/zhu_bg.png) no-repeat;
                        background-size: cover;

                        #main2 {
                            width: 565px;
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
}