* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  overflow: hidden;
  font-family: PingFang SC;
}

.city_park {
  width: 1000px;
  height: 600px;
  background-color: rgba(6, 22, 43, 0.7);
  padding: 20px;
}

.city_park .park_tit {
  height: 44px;
  background: url(../images/img_03/tit-bg.png) no-repeat;
  background-size: cover;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 44px;
  padding-left: 27px;
}

.city_park .event_list {
  width: 885px;
  height: 392px;
  margin: 20px auto 30px;
  background: url(../images/img_03/list-bg.png) no-repeat;
  background-size: cover;
}
